h1 {
    font-family: "Arial Black", times,serif;
    font-size: 40px;
    color: black;
    /*ombra del testo*/
    text-shadow: 3px 3px 1px black;
    position: relative;
    right: -250px;


}
/*<hex-value> values*/
h2 {
    font-size: 25px;
      color: darkblue;
    font-family: "Berlin Sans FB",times,serif;
    font-style: italic;
    position: relative;
    right: -250px;
    font-weight: bold;
}


h3{
    color: aqua;
    text-shadow: 3px 3px 1px black;
    font-style: oblique;
    font-size: 25px;
    position: relative;
    right: -200px;
}
div.preamble > h3{
    color: yellowgreen;
    font-size: 25px;
    text-shadow: 3px 3px 1px white;

}
header{
    background: crimson;
}

header h1{
    position: relative;
    top: 10px;
    right: -10px;
}


