body {
    font-family: 'Lora', serif;
    background-image: url("image/acqua.jpg ");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    /*spazio di scrittura*/
    padding: 1em;
    margin: 0 auto;
    max-width: 53em
}

a:link {
    color: green;
}

/*toglie la sottolineatura*/
a:hover {
    text-decoration: none;
}

/*colora in verde i link già cliccati*/
a:visited {
    color: red;

}

p {
    overflow-wrap: anywhere;
    color: black;
    font-family: "Comic Sans MS";

}
p::first-letter{
    font-size: 30px;
    font-family: "Franklin Gothic Book";

}


div.page-wrapper{
    background: chocolate;
    position: relative;
    padding: 20px;


}
