body {
    color: black;
    font-family: 'Lora', serif;
    background-color: white;
    background-image: url("/image/image colors.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}




p {
    overflow-wrap: anywhere;
    font-style: italic;
    color: black;
    font-family: "Comic Sans MS";
}

header {
   background-image: url("/image/fiori.png"),linear-gradient(#F22ED6,#B39187,#401F3E);
    background-color: white;
    background-attachment: scroll;
background-size: auto;
    background-position-x: -100px;



    margin: 50px;
    border: dotted 5px red;
    border-radius: 50%;
    padding: 100px;
    width: 500px;
    height: 500px;
border-image-repeat: space;

}



