body {
    font-family: 'Lora', serif;
    background-image: url("image/acqua.jpg ");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    /*spazio di scrittura*/
    padding: 1em;
    margin: 0 auto;
    max-width: 50em
}

a:link {
    color: green;
}

/*toglie la sottolineatura*/
a:hover {
    text-decoration: none;
}

/*colora in verde i link già cliccati*/
a:visited {
    color: red;

}

p {
    color: black;
    font-family: "Comic Sans MS", times, serif;

}
p::first-letter{
    font-size: 30px;
    font-family: "Franklin Gothic Book",times,serif;

}




.summary{
    background: #eeeeee;
    font-weight: bold;
}

.preamble{
    background: blueviolet;
    font-weight: bold;
    position: relative;
    right: 200px;

}
.explanation{
    background: chartreuse;
    font-weight: bold;
    position: relative;
    right: -200px;
}

.participation{
    background: chocolate;
    font-weight: bold;
    position: relative;
    right: 200px;
}
.benefits{
    background: coral;
    position: relative;
    right: -200px;
    font-weight: bold;
}
.requirements{
    background: darkred;
    font-weight: bold;
    position: relative;
    right: 200px;
}
footer{
    background: white;
    position: relative;
    right: -200px;
}
.design-selection{
    background: yellowgreen;
    font-weight: bold;
    position: relative;
    right: 200px;
}
.design-archives{
    background: fuchsia;
    font-weight: bold;
}
.zen-resources{
    background: gold;
    font-weight: bold;
}